name: Error Check

on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test-parse:
    name: Data Files
    runs-on: windows-2022
    steps:
    - uses: warp-core/endless-sky-test-parse@master
      with:
        parse-assets: true
