name: Spellcheck

on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  spellcheck:
    name: Spelling
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.1
      with:
        show-progress: true
    - uses: codespell-project/actions-codespell@master
      with:
        builtin: clear
        exclude_file: .github/workflows/codespell.exclude
